.home-main {
    width: 100%;
    min-height: 100vh;
}

/* FIRST SECTION */

.home-first-section {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #D0E2F1;
}

.home-first-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 20px 0;
}

.home-first-section-item-one {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: radial-gradient(#FFF, #48A7FF);
}

.home-first-section-item-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.home-first-section-container > * {
    margin-bottom: 20px;
}

.home-first-section-item-two {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: #5BC7FF;
}

.home-first-section-item-two p {
    font-size: 1.5rem;
}

.home-first-section-item-two p span {
    font-weight: 700;
}

.home-first-section-item-two a {
    font-size: 1.2rem;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border-radius: 20px;
    margin: 0 auto;
    color: var(--white);
    background-color: #F97D35;
}

/* SECOND SECTION */

.home-second-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    color: var(--white);
    background-color: #D0E2F1;
}

.home-second-section-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: #014397;
}

.home-second-section-container > * {
    margin: 10px 0;
}

.home-second-section-top {
    display: flex;
    flex-direction: column;
}

.home-second-section-top div {
    width: 40px;
    margin: 0 auto;
}

.home-second-section-top p {
    text-align: center;
    font-size: 1.5rem;
}

.home-second-section-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.home-second-section-bottom div {
    margin: 20px 0;
}

.home-second-section-bottom div p {
    font-weight: 200;
}

.home-second-section-bottom p span {
    font-size: 4rem;
    font-weight: 400;
    margin-top: 30px;
}

/* THIRD SECTION */

.home-third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    background-color: #FFF;
}

.home-third-section-img {
    width: 100%;
    max-width: 500px;
}

.home-third-section-img img {
    border-radius: 20px;
}

.home-third-section-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    border-radius: 20px;
}

.home-third-section-container > * {
    margin: 10px 0;
}

.home-third-section-container h2 {
    display: none;
}

.home-third-section-container h3 {
    font-size: 1.7rem;
}

.home-third-section-container h3 span,
.home-third-section-container p span {
    color: #014397;
    font-weight: 700;
}

/* FOURTH SECTION */

.home-fourth-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    background-color: #D0E2F1;
}

.home-fourth-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.home-fourth-item-one {
    width: 100%;
    border-radius: 20px;
}

.home-fourth-item-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
    color: #FFF;
    background-color: #1B394D;
}

.home-fourth-item-two p {
    font-size: 2rem;
    font-weight: 500;
}

.home-fourth-item-two p span {
    color: #88E6F7;
}

.home-fourth-item-two a {
    font-size: 1.2rem;
    height: fit-content;
    padding: 15px;
    border-radius: 20px;
    color: var(--white);
    background-color: #F97D35;
}



/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 1200px *************************/
  
@media screen and (min-width:1200px) {

    /* FIRST SECTION */

    .home-first-section-container {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        max-width: 1200px;
    }
    
    .home-first-section-item-two {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        max-width: 500px;
        text-align: center;
    }
    
    .home-first-section-container > * {
        margin-bottom: 0;
    }
    
    .home-first-section-item-two p {
        font-size: 2rem;
    }
    
    .home-first-section-item-two a {
        font-size: 1.5rem;
    }


    /* SECOND SECTION */
    
    .home-second-section-container {
        justify-content: space-around;
        width: 90%;
        height: 400px;
        max-width: 1200px;
    }
    
    .home-second-section-container > * {
        margin: 10px 0;
    }
    
    .home-second-section-top div {
        width: 50px;
    }
    
    .home-second-section-top p {
        font-size: 2.5rem;
        font-weight: 500;
    }
    
    .home-second-section-bottom {
        flex-direction: row;
        justify-content: space-around;
    }

    /* THIRD SECTION */

    .home-third-section {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        max-width: 1200px;
        padding: 20px 0;
    }

    .home-third-section > * {
        margin: 0;
    }

    .home-third-section-container {
        justify-content: space-between;
        max-width: 600px;
        height: 100%;
        border-radius: 0;
    }

    .home-third-section-container h2 {
        display: initial;
        font-size: 3rem;
        color: #014397;
    }

    .home-third-section-container p {
        font-size: 1.4rem;
    }

    /* FOURTH SECTION */
    
    .home-fourth-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        max-width: 1200px;
    }
    
    .home-fourth-item-one {
        max-width: 350px;
    }
    
    .home-fourth-item-two {
        width: 100%;
        max-width: 600px;
    }
    
} /* 1200px end */