
/*** LITERCOUNTER ***/

.liter-counter{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px 10px;
}

.liter-counter h3{
    width: 40%;
    font-size: 1.5rem;
}

.liter-counter div{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.liter-counter div p{
    text-align: end;
    font-weight: 700;
}


/*** WAVIFY ***/

.first-wave{
    position: absolute;
    bottom: var(--size-wave); /* valor que determina cuánto sube la ola */
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 1s;
    transition-timing-function: ease-in-out;
    z-index: -80;
}

.second-wave{
    position: absolute;
    bottom: var(--size-wave); /* valor que determina cuánto sube la ola */
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 1s;
    transition-timing-function: ease-in-out;
    z-index: -90;
}

.wave-fill{
    position: absolute;
    width: 100%;
    height: calc(var(--size-wave) + 10px); /* variará en función del valor 'bottom' de las clases 'first-wave' y 'second-wave' */
    bottom: 0;
    background-color: #5BBFDE;
    transition: 1s;
    transition-timing-function: ease-in-out;
    z-index: -100;
}


/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 768px *************************/

@media screen and (min-width:768px) {

    .liter-counter div{
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }

    .liter-counter p{
        padding: 0 5px;
    }

} /* 768px end */
  
  
/* 992px *************************/
  
@media screen and (min-width:992px) {

    
  
} /* 992px end */


/* 1200px *************************/
  
@media screen and (min-width:1200px) {


  
} /* 1200px end */