.nav-quiz div {
    display: flex;
    align-items: center;
}

.nav-quiz p{
    font-size: 0.6rem;
}

.rectangle{
    width: 20px;
    height: 5px;
    border-radius: 2px;
    margin: 0 1px;
    cursor: pointer; /* opcional (por determinar) */
    background-color: var(--grey);
}

.current-page-color{
    background-color: var(--navbarquiz-light);
}

.next-page-color{
    background-color: black;
}

.prev-page-color{
    background-color: var(--navbarquiz-dark);
}