
.rectangle{
    width: 20px;
    height: 10px;
    border-radius: 2px;
    margin: 0 1px;
    cursor: pointer; /* opcional (por determinar) */
    background-color: black;
}

.current-page-color{
    background-color: var(--navbarquiz-light);
}

.next-page-color{
    background-color: black;
}

.prev-page-color{
    background-color: var(--navbarquiz-dark);
}