
.header-quiz{
    display: flex;
    height: var(--height-standard);
    padding: 5px;
    background-color: var(--darkblue);
}

.nav-quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: var(--height-standard);
}

.main-quiz{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - (var(--height-standard) * 3));
}

.footer-quiz{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: var(--height-standar);
    margin: 0 auto;
}


/*** QUIZ QUESTIONS ***/


.main-quiz > *{
    width: 90%;
}

.main-quiz header{
    margin: 10px 0;
}

.main-quiz header > *{
    text-align: center;
    margin-bottom: 5px;
}

.main-quiz header p{
    font-size: 0.9rem;
}

.main-quiz section{
    width: 90%;
    max-width: fit-content;
}

.quiz-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.quiz-btn{
    display: flex;
    width: 90%;
    margin: 10px auto;
    border-radius: 20px;
    background-color: var(--blue);
}

.quiz-btn div{
    width: 20%;
}

.quiz-btn div img{
    filter: invert();
    width: 100%;
}

.quiz-btn > button{
    width: 80%;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: start;
    text-transform: uppercase;
    color: var(--white);
}

.hidden{
    display: none;
}


/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 768px *************************/

@media screen and (min-width:768px) {



} /* 768px end */
  
  
/* 992px *************************/
  
@media screen and (min-width:992px) {


  
} /* 992px end */


/* 1200px *************************/
  
@media screen and (min-width:1200px) {

    .main-quiz{
        flex-direction: row;
        align-items: start;
        width: 100%;
        margin-top: 10px;
    }

    .quiz-container{
        flex-direction: row;
        width: fit-content;
        max-width: 992px;
        padding: 20px 20px;
        margin: 0 auto;
        border-radius: 30px;
        box-shadow: 0px 7px 15px var(--quiz-container-box-shadow);
    }

    .quiz-container header{
        width: 60%;
    }

    .quiz-container header > *{
        text-align: start;
    }

    .quiz-container header > h2{
        font-size: 2rem;
    }

    .quiz-container header > p{
        font-size: 1.1rem;
    }

    .quiz-container header div{
        display: flex;
        width: 200px;
        padding: 10px 0;
        margin: 0 auto;
    }

    .quiz-container section{
        width: 40%;
    }

    .quiz-btn{
        width: 100%;
    }
  
    .hidden{
        display: initial;
    }
  
} /* 1200px end */