* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {

} */

nav .navLink {
    margin-left: 10px;
}

#quiz {
    position: relative;
    width: 485px;
    height: 323px;
    margin:0 auto;
    background-color: rgb(192, 192, 244);
}
