@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{

    --white: #FAFAFA; /* blanco principal */
    --grey: #edebeb;

    --lightblue: #edf6f8f2; /* options del select provincias */
    --blue: #2F8DD8; /* buttons */
    --darkblue: #014397; /* header-bg / buttons preguntas múltiples ya hechas */
    --darkestblue: #1C5680; /* letras de los números de los litros */

    --quiz-container-box-shadow: #0083AC;

    --navbarquiz-grey: #D9D9D9; /* div next page(s) */
    --navbarquiz-light: #028FDF; /* div current page */
    --navbarquiz-dark: #014397; /* div prev page(s) */

    --font-poppins: 'Poppins', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;

    --height-standard: 65px;

    --size-wave: 0px; /* se modifica con el valor que recibe de cada respuesta del cuestionario */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-open-sans);
}

img{
    width: 100%;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

.flex{
    display: flex;
}

.uppercase{
    text-transform: uppercase;
}

.white{
    color: var(--white);
}

.darkest-blue{
    color: var(--darkestblue)
}

.rem2{
    font-size: 2rem;
}